.container {
    padding: 2em;
}

.card {
    margin: 1em !important;
}

.infected {
    border-bottom: 0.5em solid salmon;
}

.recovered {
    border-bottom: 0.5em solid greenyellow;
}

.deaths {
    border-bottom: 0.5em solid grey;
}